.tickets__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
#tickets {
  color: black !important;
}
.tickets__heading {
  border-bottom: 3px solid $dark-red;
  margin-bottom: 75px;
  h2 {
    @include fontStyleHeading();
    color: $font-gold;
    padding-top: 75px;
    padding-bottom: 27px;
  }
}

.tickets__type {
  position: relative;
  right: 87px;
  p {
    @include fontStyle($size: 28px, $weight: 600, $lineHeight: 33px);
    letter-spacing: initial;
    margin-bottom: 48px;
    color: $font-dark;
  }
}

.tickets__type-item {
  position: relative;
  left: 0px;
  margin-bottom: 25px;
  color: $font-dark;
  input[type="radio"] {
    display: none;
  }
  label {
    @include fontStyle($lineHeight: 26px);
    letter-spacing: initial;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 4px;
    line-height: 18px;
    user-select: none;
    color: $font-dark;
    &:before {
      content: "";
      display: inline-block;
      color: $font-dark;
      width: 17px;
      height: 18px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background: url(../assets/images/tickets/radio.svg) 0 0 no-repeat;
    }
  }
}

.tickets__type-item input[type="radio"]:checked + label:before {
  background: url(../assets/images/tickets/radio-checked.png) 0 0 no-repeat;
}

.tickets__type-item label:hover:before {
  filter: brightness(120%);
}

.tickets__amount-text {
  text-align: right;
  @include fontStyle($size: 28px, $weight: 700, $lineHeight: 33px);
  letter-spacing: initial;
  color: $font-dark;
}

.tickets__amount-wrapper {
  margin-bottom: -13px;
  position: relative;
  left: 26px;
  color: $font-dark;
  margin-top: 25px;
  input {
    border: none;
    outline: none;
    color: $font-dark;
    background: none;
    border: none;
    max-width: 60px;
    @include fontStyle($size: 22px, $weight: 300);
    text-align: center;
    margin-left: 6px;
  }
  button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: $font-dark;
    @include fontStyle($size: 32px, $weight: 400, $lineHeight: 37px);
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    &:active {
      position: relative;
      top: 2px;
    }
  }
}

.amount__buttons {
  display: flex;
  justify-content: space-between;
  border: 3px solid $font-dark;
  padding: 2px 8px;
  width: 150px;
  span {
    font-size: 32px;
    line-height: 37px;
    color: $font-dark;
  }
}
.tickets__age {
  @include fontStyle($lineHeight: 26px);
  letter-spacing: initial;
  margin: 13px 0 13px 0;
  color: $font-dark;
}

.tickets__total {
  position: relative;
  left: 25px;
  @include fontStyle($size: 28px, $weight: 600, $lineHeight: 33px);
  color: $font-dark;
  letter-spacing: 1.65px;
  margin-top: 62px;
}
.tickets__total-amount {
  @include fontStyle($size: 28px, $weight: 600, $lineHeight: 33px);
  letter-spacing: 1.65px;
}
.tickets__buy {
  @include fontStyle($lineHeight: 26px);
  margin-top: 60px;
  color: $bg-white;
  padding: 11px 36px;
  background: $font-dark;
  border-radius: 2px;
  &:hover {
    background-color: $font-gold;
    cursor: pointer;
  }
}

.amount__button-minus18,
.amount__button-minus65 {
  position: relative;
  top: -13px;
}
.amount__button-plus18,
.amount__button-plus65 {
  position: relative;
  left: 4px;
}
