.virtual-tour__heading {
  border-bottom: 3px solid $dark-red;
  margin-bottom: 75px;
  h2 {
    @include fontStyleHeading();
    color: $font-gold;
    padding-top: 72px;
    padding-bottom: 27px;
  }
}

.tour-item__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 77px;
  column-gap: 60px;
}

.tour-item {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 67px;
    height: 3px;
    background-color: $dark-red;
    animation: redUnderline 0.5s;
    animation-fill-mode: forwards;
  }
  h3 {
    @include fontStyleHeading($size: 32px, $lineHeight: 35px);
    color: $font-dark;
    text-align: left;
    position: relative;
    padding-top: 19px;
  }
}

.tour-item__360,
.tour-item__google {
  color: $font-dark;
  text-align: left;
}
.tour-item__360 {
  @include fontStyle($weight: 200, $lineHeight: 26px);
  letter-spacing: initial;
  margin-top: 23px;
}
.tour-item__google {
  @include fontStyle($size: 18px, $weight: 200, $lineHeight: 21px);
  letter-spacing: initial;
  margin-top: 10px;
}

@keyframes redUnderline {
  from {
    width: 0px;
  }
  to {
    width: 440px;
  }
}
