.tickets__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
#tickets {
  color: black !important;
}
.tickets__heading {
  border-bottom: 3px solid $dark-red;
  margin-bottom: 75px;
  h2 {
    @include fontStyleHeading();
    color: $font-gold;
    padding-top: 75px;
    padding-bottom: 27px;
  }
}

.tickets__type {
  position: relative;
  right: 87px;
  p {
    @include fontStyle($size: 28px, $weight: 600, $lineHeight: 33px);
    letter-spacing: initial;
    margin-bottom: 48px;
    color: $font-dark;
  }
}

.tickets__type-item {
  position: relative;
  left: 0px;
  margin-bottom: 25px;
  color: $font-dark;
  input[type="radio"] {
    display: none;
  }
  label {
    @include fontStyle($lineHeight: 26px);
    letter-spacing: initial;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 4px;
    line-height: 18px;
    user-select: none;
    color: $font-dark;
    &:before {
      content: "";
      display: inline-block;
      color: $font-dark;
      width: 17px;
      height: 18px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background: url(../assets/images/tickets/radio.svg) 0 0 no-repeat;
    }
  }
}

.tickets__type-item input[type="radio"]:checked + label:before {
  background: url(../assets/images/tickets/radio-checked.png) 0 0 no-repeat;
}

.tickets__type-item label:hover:before {
  filter: brightness(120%);
}

.tickets__amount-text {
  text-align: right;
  @include fontStyle($size: 28px, $weight: 700, $lineHeight: 33px);
  letter-spacing: initial;
  color: $font-dark;
}

.tickets__amount-wrapper {
  margin-bottom: -13px;
  position: relative;
  left: 26px;
  color: $font-dark;
  margin-top: 25px;
  input {
    border: none;
    outline: none;
    color: $font-dark;
    background: none;
    border: none;
    max-width: 60px;
    @include fontStyle($size: 22px, $weight: 300);
    text-align: center;
    margin-left: 6px;
  }
  button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: $font-dark;
    @include fontStyle($size: 32px, $weight: 400, $lineHeight: 37px);
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.amount__buttons {
  display: flex;
  justify-content: space-between;
  border: 3px solid $font-dark;
  padding: 2px 8px;
  width: 150px;
  span {
    font-size: 32px;
    line-height: 37px;
    color: $font-dark;
  }
}
.tickets__age {
  @include fontStyle($lineHeight: 26px);
  letter-spacing: initial;
  margin: 13px 0 13px 0;
  color: $font-dark;
}

.tickets__total {
  position: relative;
  left: 25px;
  @include fontStyle($size: 28px, $weight: 600, $lineHeight: 33px);
  color: $font-dark;
  letter-spacing: 1.65px;
  margin-top: 62px;
}
.tickets__total-amount {
  @include fontStyle($size: 28px, $weight: 600, $lineHeight: 33px);
  letter-spacing: 1.65px;
  color: black;
}

.tickets__buy {
  @include fontStyle($lineHeight: 26px);
  position: relative;
  margin-top: 60px;
  color: $bg-white;
  padding: 11px 36px;
  background: $font-dark;
  border: 1px solid $font-dark;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $font-gold;
    cursor: pointer;
  }
}

.amount__button-minus18,
.amount__button-minus65 {
  position: relative;
  top: -13px;
}
.amount__button-plus18,
.amount__button-plus65 {
  position: relative;
  left: 4px;
}

/*================================================ Tickets Form =============================================== */
.tickets__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(29, 35, 39, 0.9);
  transition: all 0.5s ease;
  z-index: 1000;
}

.tickets__overlay.active {
  display: block;
}
.form_control {
  display: flex;
  position: relative;
}

.date-time-control {
  position: relative;
  width: 47%;
}

.tickets__form-item {
  position: relative;
  left: -250%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 7px 7px 15px #000000;
  color: rgb(0, 0, 0) !important;
  width: 1440px;
  padding: 90px 235px;
  display: flex;
  gap: 40px;
  transition: all 0.5s ease;
  label,
  input,
  select,
  option {
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 5px 0px 5px 5px;
    border: 1px solid #030303;
    border-radius: 0px;
    height: 45px;
    outline: none;
  }
  label {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 11%;
    img {
      padding-left: 7px;
    }
    span {
      color: rgb(0, 0, 0);
      font-size: 18px;
      font-weight: 400;
    }
    border-right: none;
  }
  input {
    border-left: none;
  }
  select,
  option {
    font-size: 18px;
    font-weight: 400;
  }
}
input[type="date"] {
  font-size: 18px;
}

.validate-input {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
}
.validate-input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.validate-input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.validate-input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
}
.validate-input:focus::placeholder {
  color: transparent;
}

.date-time__container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  label {
    width: 30%;
    position: relative;
  }
}
.close-form {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.tickets__form-item.form-animation {
  left: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.tickets__form {
  max-width: 400px;
  p {
    font-size: 18px;
    line-height: 21px;
    color: $dark-red;
    font-weight: 400;
    padding: 16px 10px 10px 0px;
    border-bottom: 3px solid #740c11;
    margin-bottom: 60px;
  }
  img {
    display: block;
  }
}

.tickets__form-heading {
  font-family: "Forum", cursive;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  color: $font-gold;
  text-transform: uppercase;
}
#date {
  background: #ffffff url("../assets/images/tickets/tickets-form/arrow-input.svg") no-repeat top 13px right 13px;
  appearance: none;
  font-size: 16px;
  width: 240px !important;
  color: transparent;
  user-select: none;
  &::selection {
    background-color: white !important;
  }
}

#time {
  background: #ffffff url("../assets/images/tickets/tickets-form/arrow-input.svg") no-repeat top 13px right 13px;
  appearance: none;
  font-size: 18px;
  color: transparent;
}
// input[type="time"]::-webkit-datetime-edit-hour-field,
// input[type="time"]::-webkit-datetime-edit-minute-field,
// input[type="time"]::-webkit-datetime-edit-text {
//   -webkit-appearance: none;
//   display: none;
// }

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  color: transparent;
  background: transparent;
}
// // delete for validation
// #date::-webkit-datetime-edit-text {
//   display: none;
// }
// #date::-webkit-datetime-edit-month-field {
//   display: none;
// }
// #date::-webkit-datetime-edit-day-field {
//   display: none;
// }
// #date::-webkit-datetime-edit-year-field {
//   display: none;
// }

#ticket-selected-type {
  position: relative;
  border: 1px solid black;
  border-left: none !important;
  background: #ffffff url("../assets/images/tickets/tickets-form/arrow-input.svg") no-repeat top 13px right 13px;
  appearance: none;
}

.ticket-selected-icon {
  position: absolute;
  display: block;
  color: #000000;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}

.style-label {
  display: initial;
}

.entry-tickets {
  width: 100%;
  border: 1px solid black;
  padding: 0px 15px 15px 15px;
  height: 135px;
}

.entry-tickets-heading {
  font-family: "Forum", cursive !important;
  margin: 0px 0px 15px 0px !important;
  padding: 8px 0 5px 0 !important;
  line-height: 20px !important;
  color: #9d8665 !important;
  font-weight: 400 !important;
}

.entry-tickets-input {
  display: flex;
  width: 105px;
  height: 25px;
  input {
    font-size: 18px !important;
    width: 40px;
    height: 25px;
    padding-right: 0px;
    outline: none;
  }
}
.entry-tickets-button {
  background-color: rgb(0, 0, 0);
  outline: none;
  border: none;
  width: 35px;
  height: 25px;
  img {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.entry-tickets-basic,
.entry-tickets-senior {
  display: flex;
  justify-content: space-between;
}

.entry-tickets-content {
  label {
    display: -webkit-box;
    font-size: 18px;
    line-height: 0px;
    border: none;
    width: 50%;
    padding-left: 0;
    position: relative;
    top: -12px;
  }
}

.form-basic-price {
  color: #000000;
}
.form-senior-price {
  color: #000000;
}

/*========================================= Form right block =============================*/

.tickets__cards {
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  padding: 30px;
  font-size: 12px !important;
  width: 530px;
}
.tickets__overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.overview-heading {
  position: relative;
  top: -5px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
  text-transform: none;
}
.overview-tour {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  margin: 0 0 6px 0;
}

.tickets__overview-image {
  align-self: flex-start;
  img {
    display: block;
    position: relative;
    top: -5px;
  }
}

.tickets__overview-description {
  span {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-left: 10px;
    color: #030303;
  }
}

.tickets__counter-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.tickets__counter-item.counter-line {
  border-bottom: 2px solid #740c11;
  padding-bottom: 10px;
}

.card-tickets-amount {
  background-color: black;
  border-radius: 3px;
  font-size: 18px;
  line-height: 21px;
  color: #a4a4a3;
  padding: 0 10px 0 10px;
}

.card-amount-description {
  font-size: 22px;
  line-height: 26px;
  color: black !important;
  padding-left: 10px;
}

.card-amount-result {
  position: absolute;
  right: 0;
  color: black !important;
}

.tickets-total-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5px;
}

.total-block__text {
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}
.total-block__result {
  font-size: 32px;
  line-height: 37px;
  font-weight: 500;
  color: #000000;
}

.card-firs-side {
  position: relative;
  background-color: #bcbcbc;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 12px;
  width: 360px;
  height: 210px;
  margin-top: 14px;
  box-shadow: 1px 3px 5px -1px rgba(73, 73, 73, 0.7);
  z-index: 2;
}

.card-control {
  margin-bottom: 8px;
  label,
  input {
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    border: none;
    outline: none;
  }
  input {
    height: 35px;
    padding: 3px 0 0 8px;
  }
  label {
    border: none;
    height: 20px;
    padding: 17px 0 12px 0px;
  }
}
.card-label.expiration-date {
  padding: 0;
  margin: 0;
  width: 100%;
}
.card-number {
  width: 215px !important;
}
.card-date,
.card-year {
  width: 100px !important;
}

.card-number-style {
  display: inline-block;
  position: relative;
}

.card-number-style input[type="number"]::-webkit-outer-spin-button,
.card-number-style input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.number-minus.number-month,
.number-plus.number-month,
.number-minus.number-year,
.number-plus.number-year {
  position: absolute;
  display: block;
  text-align: center;
  background-color: rgba(196, 28, 28, 0);
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  padding: 0 !important;
  margin: 0 !important;
  img {
    display: block;
    padding-left: 5px;
  }
  &:hover {
    cursor: pointer;
  }
}

.number-minus.number-month {
  left: 77px;
  top: 35px;
}

.number-plus.number-month {
  left: 77px;
  top: 25px;
}

.number-minus.number-year {
  left: 192px;
  top: 35px;
}
.number-plus.number-year {
  left: 192px;
  top: 25px;
}

.number-border-date,
.number-border-year {
  position: absolute;
  width: 1px;
  height: 35px;
  background-color: #a4a4a4;
}

.number-border-date {
  left: 70px;
}
.number-border-year {
  left: 185px;
}

.card-year {
  margin-left: 10px;
}

.visa {
  display: block;
  position: absolute;
  right: 20px;
  top: 32px;
}
.mastercard {
  display: block;
  position: absolute;
  right: 20px;
  top: 64px;
}

.card-second-side {
  position: absolute;
  top: 355px;
  left: 140px;
  background-color: #939393;
  border-radius: 3px;
  font-size: 12px;
  width: 360px;
  height: 210px;
}

.tickets__card-form {
  width: 100%;
}

.black-line {
  width: 100%;
  height: 45px;
  background-color: black;
  margin: 25px 0 0px 0;
}

.second-side-cvv {
  position: absolute;
  right: 20px;
  width: 75px;
  text-align: center;
  label {
    font-size: 12px;
    line-height: 14px;
    border: none;
    color: #161615;
    padding-left: 10px;
  }
  input {
    position: relative;
    top: -10px;
    height: 35px;
    border: none;
    outline: none;
  }
}

.cvv-description {
  width: 75px;
  font-size: 10px;
  line-height: 12px;
  color: #161615 !important;
  text-align: left;
  padding-left: 10px;
}
#ticket-selected-type {
  border: 1px solid black;
}

.card-form-submit {
  position: relative;
  top: 56px;
  left: 250px;
  font-size: 22px;
  line-height: 26px;
  background-color: #710707;
  padding: 10px 85px;
  border: none;
  user-select: none;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: $font-gold;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.99);
  }
}

.error-message {
  position: absolute;
  color: red !important;
  left: 0;
  top: 100%;
  font-size: 16px;
}

.error {
  border: 1px solid red;
  box-shadow: 0 0 7px red;
}

// Ripple styles
.card-form-submit .circle {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
