.video__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.video__player {
  position: relative;
  line-height: 0;
  width: 100%;
}

.video__content {
  position: relative;
  height: 650px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.video-item {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}
.video__content.max-video-height {
  height: 100% !important;
}
.video__active {
  position: relative;
  opacity: 1;
  width: 100%;
}

.video__active[poster] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video__controls {
  position: relative;
  background: $font-dark;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 44px;
  height: 75px;
  padding: 44px 27px;
}

.video__controls.show-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2147483648;
}

.controls-button {
  background: none;
  border: none;
  cursor: pointer;
  transform: scale(1.4);
  transition: all 0.2s ease;
  padding-top: 7px;
  outline: none;
  user-select: none;
  &:hover {
    filter: brightness(45%) contrast(37%);
  }
  &:active {
    transform: scale(1);
  }
}

input[type="range"].video__progress {
  width: 1290px;
  left: -8px;
}

input[type="range"].sound__progress {
  width: 213px;
  left: -2px;
  background: linear-gradient(to right, #660606 0%, #660606 40%, #c4c4c4 40%, #c4c4c4 100%);
}

.video__progress,
.sound__progress {
  position: relative;
  background: linear-gradient(to right, #660606 0%, #660606 0%, #c4c4c4 0%, #c4c4c4 100%);
  border: solid 1px #660606;
  height: 10px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  &:hover {
    cursor: pointer;
  }
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 50%;
}

.video__large-play-button {
  display: block;
  position: absolute;
  left: 50%;
  top: 44%;
  outline: none;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 50%;
  background-color: #ffffff00;
  border: none;
  transition: all 0.2s ease;
  &:active {
    transform: translate(-50%, -50%) scale(0.9);
  }
  img {
    display: block;
    border-radius: 50%;
    line-height: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.hide__large-button {
  opacity: 0;
}

.speaker {
  position: relative;
  transition: all 0.3s ease;
  left: -8px;
  top: -5px;
  transform: scale(2);
}

.speaker.mute {
  &:before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #b3b3b3;
    position: absolute;
    left: 0px;
    top: 18px;
    border-radius: 5px;
    transform: rotate(-45deg);
    animation: showMute;
  }
}

.play-back-rate {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
}

.video__heading {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  margin-bottom: 75px;
  h2 {
    @include fontStyleHeading();
    color: $font-gold;
  }
  p {
    @include fontStyle();
    padding-top: 12px;
    max-width: 720px;
    color: $font-dark;
    letter-spacing: initial;
  }
}

/*=============================== Settings Mini Slider =================================*/
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  background-color: #999999;
  opacity: 1;
  &:hover {
    background-color: $dark-red !important;
  }
}

.swiper {
  position: relative;
  margin-top: 40px;
  margin-bottom: 112px;
  overflow-x: clip;
}

.swiper-slide {
  position: relative;
  min-width: 0;
  width: auto !important;
}
.swiper-wrapper {
  position: relative;
  min-width: 0;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: -33px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #333333;
}

.mini-pagination__wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 110%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  user-select: none;
  border: none;
  img {
    &:hover {
      opacity: 0;
    }
  }
}
.swiper-button-prev {
  left: 42.5%;
  &:hover {
    background: url(../assets/images/video/red-arrow-left.svg) no-repeat;
    background-position: center;
  }
}

.swiper-button-next {
  right: 42.5%;
  &:hover {
    background: url(../assets/images/video/red-arrow-right.svg) no-repeat;
    background-position: center;
  }
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
}

.video__iframe {
  border: 0;
  width: 452px;
  height: 254px;
}

.extra-range {
  display: none;
}
//////////////////DELETE LATER
.video__progress-1024 {
  display: none;
}
